

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); /*

  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  text-decoration: none;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default Styling */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  opacity: 0.5;
  width: 5px;
  border-radius: 4px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-moz-selection {
  background: rgb(110, 240, 110);
  text-shadow: none;
}

::selection {
  background: rgb(110, 240, 110);
  text-shadow: none;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* GENERAL STYLES*/

img {
  object-fit: contain;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Proxima Nova SemiBold', Arial, sans-serif; */
  /* font-family: "Proxima Nova", Arial, sans-serif; */
  /* font-weight: 200; */
}

/* p,
a,
button,
input,
ul,
li,
address,
textarea,
span {
 
} */



button {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #507b80 !important;
  color: #fff !important;
}

.linksContLinkActive {
  color: #fff;
}

.css-10hburv-MuiTypography-root {
  font-size: 40px !important;
}

.PhoneInput {
  background: #ccc;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

/* input[type="tel"] {
  padding: 0;
} */

.PhoneInputInput {
  padding: 0 !important;

}

.css-6hp17o-MuiList-root-MuiMenu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
  background-color: #507b80;
  color: #fff;
  width: 200px;
}

.css-6hp17o-MuiList-root-MuiMenu-list a {
  font-family: '__myFont_416dbd', '__myFont_Fallback_416dbd' !important;    font-size: 20px !important;
  font-size: 15px !important;
}

@media screen and (max-width: 680px) {
  /* section {
    padding: 50px 20px;
  } */

  p {
    line-height: 22px;
    font-size: 15px;
  }

  .PhoneInput {
    width: 100%;
    padding: 10px;
  }

  .css-6hp17o-MuiList-root-MuiMenu-list a {
    font-family: '__myFont_416dbd', '__myFont_Fallback_416dbd' !important;    font-size: 20px !important;
    font-size: 15px !important;
  }

  #basic-button span {
    font-family: '__myFont_416dbd', '__myFont_Fallback_416dbd' !important;    font-size: 20px !important;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  section {
    padding: 50px 40px;
  }

  p {
    line-height: 1.6;
    font-size: 14px;
  }

  
  
}
