.banner__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    color: #fff;
    background: linear-gradient(0deg, rgba(80, 123, 128, 0.5), rgba(80, 123, 128, 0.5)), url(/young-african-businessman-working-office-laptop-make-notice-notebook.png);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner__container__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}


/* TYPOGRAPHY */
.banner__container__description h1 {
    font-size: 55px;
    text-transform: uppercase;
    line-height: 72px;
}

.banner__container__description p {
    font-size: 20px;
    margin-top: 14px;
    width: 594px;
    text-align: center;
    margin-bottom: 15px;
}



/* ABOUT BANNER STYLING */
.aboutbanner__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    color: #fff;
    background: linear-gradient(0deg, rgba(80, 123, 128, 0.5), rgba(80, 123, 128, 0.5)), url(/banner2.png);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* PROFILE BANNER STYLING */
.profilebanner__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(0deg, rgba(80, 123, 128, 0.5), rgba(80, 123, 128, 0.5)), url(/profile-banner.png);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {

    .banner__container {
        height: 100vh;
    }

    .banner__container__description {
        margin: 70px 0;
    }
    
    /* TYPOGRAPHY */
    .banner__container__description h1 {
        font-size: 37px;
        line-height: 65px;
    }
    
    .banner__container__description p {
        font-size: 18px;
        margin-top: 13px;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 681px) {
    /* TYPOGRAPHY */
    .banner__container__description h1 {
        font-size: 45px;
        line-height: 60px;
    }
    
    .banner__container__description p {
        font-size: 21px;
    }

    .profilebanner__container {
        height: 50vh;
    }
}
